<form action="/users/add/" method="post">
    {% csrf_token %}
    <div class='brd'>
    <b>Ник:</b>
    <br>
    {{ form.username }}
    </div>
    <br>
    <div class='brd'>
    <b>Имя:</b>
    <br>
    {{ form.first_name }}
    </div>
    <br>
    <div class='brd'>
    <b>Фамилия:</b>
    <br>
    {{ form.last_name }}
    </div>
    <div class='brd'>
    <b>Город:</b>
    <br>
    {{ form.location }}
    </div>
    <div class = 'brd'>
    <b>Возраст:</b>
    <br>
    {{ form.age }}
    </div>
    <br>
    <div class = 'brd'>
    <b>Email:</b>
    <br>
    {{ form.email }}
    </div>
    <div class='brd'>
    <input type="submit" value="Подтвердить"/>
  </div>
</form>
