{% extends 'main.html' %}
{% load static %}
{% block users %}
<body>
  <link rel="stylesheet" type="text/css" href="{% static 'userstyle.css' %}" />
  <table id = "users" class="mytable">
    <tr>
      <th>Nickname<a href="/users/sortAsc?sort_key=username">▲</a> <a href="/users/sortDesc/?sort_key=username">▼</a></th>
      <th>Age<a href="/users/sortAsc?sort_key=age">▲</a> <a href="/users/sortDesc/?sort_key=age">▼</a></th>
      <th>City<a href="/users/sortAsc?sort_key=location">▲</a> <a href="/users/sortDesc/?sort_key=location">▼</a></th>
      <th>Email<a href="/users/sortAsc?sort_key=email">▲</a> <a href="/users/sortDesc/?sort_key=email">▼</a></th>
      <th>Name<a href="/users/sortAsc?sort_key=first_name">▲</a> <a href="/users/sortDesc/?sort_key=first_name">▼</a></th>
      <th>Surname<a href="/users/sortAsc?sort_key=last_name">▲</a> <a href="/users/sortDesc/?sort_key=last_name">▼</a></th>
    </tr>
  {% for user in allUsers %}
<tr>
  <td>{{ user.username }}</td> <td>{{user.age}}</td> <td>{{user.location}}</td><td>{{user.email}}</td><td>{{user.first_name}}</td><td>{{user.last_name}}</td>
  <td>{{user.surname}}  </td>
  <td><a href="/users/edit/{{user.id}}/"> Изменить </td>
  <td><a href="/users/delete/{{user.id}}/"> Удалить </td>
</tr>
    {% endfor %}
    <div id="starting">
      <div class="container">
        <div class="row">
          <h1>List of Articles
          <button class="btn btn-success">ADD ARTICLE</button>
          </h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Heading</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="article in articles">
                <th scope="row">${user.article_id}</th>
                <td>${article.article_heading}</td>
                <td>
                  <button class="btn btn-info" v-on:click="getArticle(article.article_id)">Edit</button>
                  <button class="btn btn-danger" v-on:click="deleteArticle(article.article_id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>
    </div>
</body>

<script type='text/javascript'>
 new Vue({
   el: '#starting',
   delimiters: ['${','}'],
   data: {
   articles: [''],
   loading: false,
   currentArticle: {},
   message: null,
   newArticle: { 'article_heading': null, 'article_body': null },
 },
 mounted: function() {
 console.log('sadasd')
 this.getUsers();
},
methods: {
 getUsers: function() {
  this.$http.get('/users/showAll/')
      .then((response) => {
        this.articles = response.data;
        this.loading = false;
      })
 }

 });
 </script>
{% endblock %}
