{% extends 'main.html' %}
{% load static %}
{% block users %}
<body>
    <script src="https://unpkg.com/vue@2.4.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'userstyle.css' %}" />
  <div id="app">
    <link rel="stylesheet" type="text/css" href="{% static 'userstyle.css' %}" />
    <table id = "users" class="mytable">
      <tr>
        <th>Nickname<a href="/users/sortAsc?sort_key=username">▲</a> <a href="/users/sortDesc/?sort_key=username">▼</a></th>
        <th>Age<a href="/users/sortAsc?sort_key=age">▲</a> <a href="/users/sortDesc/?sort_key=age">▼</a></th>
        <th>City<a href="/users/sortAsc?sort_key=location">▲</a> <a href="/users/sortDesc/?sort_key=location">▼</a></th>
        <th>Email<a href="/users/sortAsc?sort_key=email">▲</a> <a href="/users/sortDesc/?sort_key=email">▼</a></th>
        <th>Name<a href="/users/sortAsc?sort_key=first_name">▲</a> <a href="/users/sortDesc/?sort_key=first_name">▼</a></th>
        <th>Surname<a href="/users/sortAsc?sort_key=last_name">▲</a> <a href="/users/sortDesc/?sort_key=last_name">▼</a></th>
      </tr>
    <tr v-for="user in users">
      <td>[[user.username]]</td> <td>[[user.age]]</td> <td>[[user.location]]</td><td>[[user.email]]</td><td>[[user.first_name]]</td><td>[[user.last_name]]</td>
      <td><a href="/users/edit/user.age"> Изменить </td>
        <td><button class="btn btn-danger" v-on:click="deleteUser(user.id)">Delete</button></td>

  </tr>
  </table>
  </div>
</body>

<script>

new Vue({
  delimiters: ['[[', ']]'],
  el: '#app',
  data: {
    title: 'Welcome to My Journal',
    users: []
  },
  mounted: function() {
    this.getUsers();
},
methods: {
  getUsers: function() {
    this.$http.get('/users/showAll/')
    .then((response) => {
        this.users = response.data;
      })
   },
  deleteUser: function(id) {
    this.$http.delete('/users/delete/[[id]]/' )
     .then((response) => {
       this.users = response.data;
     })
   },
}
})
</script>

{% endblock %}
